<style>
    .img{
        height: 80%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        background-image: url('../../assets/images/covide.png');
        object-fit: fill;
    }
    .card{
        overflow: hidden;
        height: 300px;

    }
    img{
        /* width: fit-content;/ */
        /* object-fit: cover; */
        width: 100%;
    }
</style>


<div class="portfolio py-5">
    <div class="head text-capitalize">
        <h2 class=" text-center" style="color:#F4BC11 ;">portfolio</h2>
    </div>
  <div class="container">
    <div class="row justify-content-center"
    
   >

        <!-- ==== card ==== -->
      <div class="col-xs-12 col-sm-6   mt-3">
        <div class="card" style="overflow: hidden;">
          <div class="img"
          
          >
          <!-- <img style="height: 100%; " src="../../assets/images/pizzaReturent.png" alt=""> -->
           
          </div>
          <div class="card-body">
            <p class="card-text" style="color: rgb(160, 160, 160);">
                Some quick example text to build on the card title and make up the
                bulk.
            </p>
          </div>

        </div>
      </div>

 
      <!-- ==== card ==== -->

      <div class="col-xs-12 col-sm-6    mt-3">
        <div class="card"  >
            <div class="img" 
            
            style="
        background-image: url('../../assets/images/pizzaReturent.png');
            
            ">
            <!-- <img style="height: 100%; " src="../../assets/images/covide.png" alt=""> -->
             
            </div>
          <div class="card-body">
            <p class="card-text" style="color: rgb(160, 160, 160);">
                Some quick example text to build on the card title and make up the
                bulk.
            </p>
          </div>
          
        </div>
      </div>

<!-- ===== card ==== -->
<div class="col-xs-12 col-sm-6  mt-3">
        <div class="card"  >
            <div class="img"
            style="
        background-image: url('../../assets/images/شغلي\ اصغر\ شاشاه.png');
            " >
            <!-- <img style="height: 100%; " src="../../assets/images/شغلي اصغر شاشاه.png" alt=""> -->
             
            </div>
          <div class="card-body">
            <p class="card-text" style="color: rgb(160, 160, 160);">
                Some quick example text to build on the card title and make up the
                bulk.
            </p>
          </div>
          
        </div>
      </div>


<!-- ===== card ==== -->
<div class="col-xs-12 col-sm-6  mt-3">
    <div class="card"  >
        <div class="img"
            style="
        background-image: url('../../assets/images/wp4974496.webp');
            " >
            <!-- <img style="height: 100%; " src="../../assets/images/شغلي اصغر شاشاه.png" alt=""> -->
             
            </div>
      <div class="card-body">
        <p class="card-text" style="color: rgb(160, 160, 160);">
            Some quick example text to build on the card title and make up the
            bulk.
        </p>
      </div>
      
    </div>
  </div>

    </div>
  </div>
</div>
