<header>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('../../assets/images/wp4974496.webp');
      "
    >
      <div class="mask" style="background-color: #11102599">
        <div class="d-flex justify-content-center align-items-center h-100">
          <!-- <div class="text-white">
            <h1 class="mb-3">Heading</h1>
            <h4 class="mb-3">Subheading</h4>
            <a class="btn btn-outline-light btn-lg" href="#!" role="button"
              >Call to action</a
            >
          </div> -->
          <!-- <img src="../../assets/images/WhatsApp Image 2022-12-22 at 21.01.26.jpeg" class="rounded-circle" alt="..." /> -->
            <!-- <div class="img"  class="rounded-circle" style="height: 170px;width: 170px;overflow: hidden;
            background-image: url('../../assets/images/WhatsApp\ Image\ 2022-12-22\ at\ 21.01.26.jpeg'); background-size: cover;
            background-position:center 
           
            ;">
            </div> -->
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>