/* ===== general classes ===== */

*{
    margin: 0;
}

.app{
    margin: auto;
    width: 80%;
}
.ngbAccordion{
    padding: 10px;
}

 /*  ======= to do list ==== */
 .todoList{
    /* width: 80%; */
    padding: 10px;
    color: #fff;
    background-color: #010730 !important;
    border-radius: 7px;
    min-height: 200px;
    text-align: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* ==== to do header ====  */
.todoList .logo{
    width: 60px;
    height: 60px;
    overflow: hidden;
    
}
.todoList .logo img{
    width: 95%;
    height: 95%;
    fill: gray;
    filter: -1;
    -webkit-filter: -1;
}


.todo-body{
    width:70%
}

@media (max-width:568px) {
    .todo-body{
        width:97%
    }
}

 