<div class="skills py-5">
    <div class="container">
        <div class="head text-center mb-6">
            <h2  style="color:#F4BC11 ;" >Skills</h2>
            <!-- <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, distinctio. Magnam officia modi libero quo quisquam, consectetur delectus! Aliquid, soluta. Rem quos eligendi inventore labore, aliquid sit. Sint, quam asperiores.</p> -->
        </div>
        <div class="row text-capitalize">

            <!-- ====== col ===== -->
            <div class="col-md-6 mb-6">
                <h5>ui | ux</h5>
                <div class="progress  ">
                    <div
                      class="progress-bar w-75"
                      role="progressbar"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
            </div>


                <!-- ====== col ===== -->
                <div class="col-md-6 mb-6">
                <h5>html | css</h5>

                    <div class="progress  ">
                        <div
                          class="progress-bar w-75"
                          role="progressbar"
                          aria-valuenow="78"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                </div>


                    <!-- ====== col ===== -->
            <div class="col-md-6 mb-6">
                <h5>angular</h5>
                <div class="progress  ">
                    <div
                      class="progress-bar w-75"
                      role="progressbar"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
            </div>

                <!-- ====== col ===== -->
                <div class="col-md-6">

                    <h5>react</h5>
                    <div class="progress  ">

                        <div
                          class="progress-bar w-75"
                          role="progressbar"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                </div>



        </div>
    </div>
</div>
