.skills{
    background-color: #111025;
    padding: 10px;
    min-height: 300px;
}

.p{
    font-size: 14px;
    color: gray;
}

.progress{
    background-color: black;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
    overflow: hidden;
}

.progress-bar{
    background-color: #F4BC11;
}