 <div class="container py-5">
    <h2 style="text-align: center;  color:#F4BC11 ;">About</h2>
    <div class="row py-5
    align-items-center
    ">
        <div class="col-sm-12 col-md-6">
            <div class="img" >
                <img src="../../assets/images/WhatsApp Image 2022-12-22 at 21.01.26.jpeg" alt="">
            </div>
        </div>
        <div class="col-content col-sm-12 col-md-6   text-capitalize">
            <div class="content">
                <h3>i'm fornt end developer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusantium, saepe maxime rem, qui ad impedit minus magnam fugiat error sunt ipsa eius reiciendis? Molestias, culpa excepturi. Aliquam, quis laboriosam.</p>
            </div>
        </div>
    </div>
 </div>