 .todo-body {
    width: 100%;
    /* background-color: red; */
 }
  form .add{
    width: 100%;
    background-color: #fff;
    padding: 5px 17px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 255, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(159, 157, 157, 0.24) 0px 3px 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
   form .add button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    
}

 form .add button img{
    filter: opacity(0.5) drop-shadow(0 0 0 gray);
    -webkit-filter: opacity(0.5) drop-shadow(0 0 0 gray);
}
  form input{
    outline: none;
    border: none;
    background-color: transparent;

}