<div class="card mb-3 mt-6" style="max-width: 540px;margin: 100px auto;">
    <div class="row g-0">
      <div class="col-md-6">
        <img [src]="productDetails.image" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">  {{productDetails.name}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Created At {{productDetails.createdAt |date : "MMMM:YYYY"}}</small></p>
        </div>
      </div>
    </div>
  </div>